@tailwind base;
@tailwind components;
@tailwind utilities;

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.counter {
  transition: --num 1s;
  counter-set: num var(--num);
}

.counter:hover {
  --num: 10000;
}

.counter::after {
  content: counter(num);
}
