@tailwind base;
@tailwind components;
@tailwind utilities;

.post-comments ul {
  position: relative;
}

.post-comments li {
  position: relative;
}

.post-comments li:has(ul) li:not(:last-of-type)::before {
  content: "";
  height: calc(100% + 48px + 24px);
  width: 2px;
  background: hsl(var(--n));
  position: absolute;
  inset-inline-start: -24px;
  inset-block-start: calc(-48px);
}

.post-comments ul:has(ul) ul li::after {
  content: "";
  width: 24px;
  position: absolute;
  height: 24px;
  border-left: 2px solid hsl(var(--n));
  border-bottom: 2px solid hsl(var(--n));
  border-bottom-left-radius: 15px;
  inset-block-start: 24px;
  inset-inline-start: -24px;
}

.post-comments li:has(ul) > .comment-item::after {
  content: "";
  height: calc(100% - 48px);
  width: 2px;
  background: hsl(var(--n));
  position: absolute;
  inset-inline-start: 24px;
  inset-block-start: calc(48px + 24px);
}
